.form,
.result {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    font-family: "Nunito";
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
    text-align: center;
    color: #E43071;
    font-family: "Nunito";
}

.input {
    margin-bottom: 15px;
    border: 1px solid #E43071;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    color: #E43071;
    font-family: "Nunito";
    font-weight: 600;
}

.input::placeholder {
    color: rgba(128, 128, 128, 0.9);
    font-family: "Nunito";
    font-weight: 400;
}

.sexChoice {
    font-family: "Nunito";
    width: 100px;
    margin-bottom: 15px;
}

.sexChoice label {
    color: rgba(128, 128, 128, 0.7);
}

.sexChoice div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activitySelect {
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
    margin-bottom: 15px;
}

.activitySelect label {
    color: rgba(128, 128, 128, 0.7);
}

.activitySelect select {
    background-color: white;
    border: 1px solid #E43071;
    padding: 15px;
    border-radius: 10px;
}

.weightLoseChoice {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.weightLoseChoice label {
    color: rgba(128, 128, 128, 0.7);
    font-family: "Nunito";
}

.weightLoseChoice div {
    width: 350px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    border: 2px solid #E43071;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

input[type="radio"]:not(:disabled):checked {
    border-color: #E43071;
    background-color: #E43071;
    background-clip: content-box;
    padding: 2px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #E43071;
    border: 1px solid #E43071;
    background-image: radial-gradient(circle,
            #E43071 0%,
            #E43071 50%,
            transparent 60%,
            transparent 100%);
}

.submitButton {
    max-width: 250px;
    margin: 0 auto;
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Nunito";
    font-size: 20px;
    background: #E43071;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.submitButton:hover {
    background: #BC5A94;
    transition: background 0.3s ease-in-out;
}

.errorBlock {
    text-align: center;
}

.resultInfo {
    text-align: left;
    padding-left: 20px;
    list-style: none;
}

.resultInfo li {
    padding-bottom: 5px;
}

.resultInfo li::before {
    content: "-";
    padding-right: 10px;
    color: rgba(128, 128, 128, 0.7);
}

.resultInfo li span {
    font-weight: bold;
}

.resultInfo ul {
    list-style: none;
}

.resultInfo ul li {
    padding-bottom: 0;
}

@media screen and (max-width: 770px) {
    .weightLoseChoice div {
        width: 100%
    }
}